/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require active_scaffold
 *= require_tree .
 */

.to-right {
  float: right;
}
.container {
  margin-top: 10px;
}
.content {
  .tab-pane {
    .row {
      padding-bottom: 10px;
    }
  }
  .bid-info {
    margin-left: 10px !important;
  }
  .product-container {
    padding-left:30px;
  }
  h1, h3 {
    color: #FFA500;
  }
  form.form-horizontal {
    margin: 20px 0px 0px 0px !important;
  }
  .form-horizontal .help-block {
    margin-top: 0px;
    margin-left: 5px;
    font-style: italic;
    color: #A09F9F;
  }
}
